Repository circleci-jp/cci_setup_workflows: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-server, build-client

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@dev:alpha

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          mapping: |
            lts/.* build-server true
            v15/.* build-client true
          # Optional, defaults to main:
          base-revision: origin/develop

Update config.yml
  .circleci/config.yml
Due: none

Update continue_config.yml
  .circleci/continue_config.yml
Due: none

Create dummy.txt
  lts/dummy.txt
Due: build-server

Create dummy.txt
  v15/dummy.txt
Due: build-client

Edit v15 only
  v15/dummy.txt
Due: build-client

update dummy text in LTS
  lts/dummy.txt
Due: build-server

update dummy in v15
  v15/dummy.txt
Due: build-client

Update dummy.txt
  v15/dummy.txt
Due: build-client

[ci skip]
  .circleci/config.yml
Due: none

[ci skip]
  .circleci/continue_config.yml
Due: none

update dir_a
  dir_a/dummy.txt
Due: none

update dir B
  dir_b/dummy.txt
  v15/dummy.txt
Due: build-client

update dir B
  dir_b/dummy.txt
Due: none

Rename dir_b/dummy.txt to B/dummy.txt
  B/dummy.txt
Due: none

Rename dir_a/dummy.txt to A/dummy.txt
  A/dummy.txt
Due: none

Update B
  B/dummy.txt
Due: none

Update A
  A/dummy.txt
Due: none

create sub config yaml files
  A/.circleci/config.yml
  B/.circleci/config.yml
Due: none

modified A's config.yml
  .circleci/config.yml
  A/.circleci/config.yml
Due: none

modified config.yml
  .circleci/config.yml
Due: none

Create config.yml
  .circleci/config.yml
Due: none

updated A/dummy.txt
  A/dummy.txt
Due: none

Update dummy.txt
  B/dummy.txt
Due: none

test cci webhooks
  B/dummy.txt
Due: none

updeted
  B/dummy.txt
Due: none
